.title{
    text-align: center; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color: #EBD758; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
}

.container-articulos{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card{
    text-align: center;
}

img{
    object-fit: cover;
    height: 20vh;
}

.card-body{
    height: 10rem;
}

.container-form{
    margin-top: 30px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-around;
}

.containerFecha{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div_formReserva{
    margin: 25px 0;
}

.container-reserva h3{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #4d4d4d; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(114, 108, 108, 0.3);
    margin-bottom: 30px;
}

.reserva_titulos{
    margin: 20px 0;
    border-bottom: 2px solid rgba(72, 72, 218, 0.918);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reserva_titulos, .col{
    padding-bottom: 3px;
    font-size: 18px;
}

.container-reserva{
    margin: 30px 0;
}

.mis_reservas{
    margin: 20px 0;
    font-size: 15px;
}

.btn_toasty{
    margin-top: 50px;
}

.spinner-border{
    color: rgb(100, 192, 245);
}

